<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Sedgwick+Ave+Display|Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='navBar'>
    
      <a class='appTitle' href="/users">
        <img src="https://i.imgur.com/W373jsm.png" alt="Back to Home">   BitPay Code Challenge  {{pageTitle}}
      </a>

  </div>

  <div class='theBody'>
    {{{body}}}
  </div>
  </body>
</html>
